{% extends 'main.html' %}

{% block title %}My Bots:Profile+{% endblock %}

{% block upper %}

{% endblock %}

{% block content %}
<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title" style="font-size: 3em; width: 10rem; margin:4px auto; text-align: center;background-color: rgb(4, 28, 49); color: white;"> HELP </h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p style="font-size: 2em; text-align: left;width: 90%; margin: auto;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit aspernatur, mollitia numquam suscipit
                aliquid cum? Voluptatum vel voluptatem quasi vitae? Dolorem voluptates molestias voluptate temporibus a
                et est optio tempore nam, exercitationem dignissimos, laborum, deleniti repellendus libero eligendi
                asperiores culpa ullam totam rem tenetur eaque in non accusamus impedit. Incidunt, excepturi asperiores
                vel quod obcaecati sapiente quasi maxime quam consequatur molestias provident optio explicabo nesciunt
                
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<!-- Dashboard -->
<script src="/static/js/jquery.dashboard.js"></script>

<script src="/static/js/jquery.app.js"></script>

<!-- sweet alerts -->
<script src="/static/assets/sweet-alert/sweet-alert.min.js"></script>


{% endblock %}