{% extends 'main.html' %}

{% block title %}My Bots: ChatBot+{% endblock %}

{% block upper %}

{% endblock %}

{% block content %}
<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

       
    <h5 style="font-size: 40px;">Sorry No Records Found...</h5>
</div> <!-- END Wraper -->
{% endblock %}

{% block script %}
<!-- Chat -->
<script src="/static/js/jquery.chat.js"></script>
<script src="/static/assets/chat/moment-2.2.1.js"></script>
<script src="/static/assets/chat/popup-box.js"></script>

<!-- Dashboard -->
<script src="/static/js/jquery.dashboard.js"></script>

<script src="/static/js/jquery.app.js"></script>



{% endblock %}


<!-- {% block username %} {{x.user_name}} {% endblock %} -->